#home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-title {
  margin-left: 15px;
  margin-top: 80px;
}

.title {
  font-size: 6rem;
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 900;
  margin: 0;
}

.description {
  font-size: 1rem;
  font-family: 'Baskervville', serif;
  max-width: 50%;
}

.donate-div {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.img-donate {
  width: 240px;
}

.description-donate {
  max-width: 50%;
  font-size: 0.8rem;
  text-align: center;
}

.img-end {
  width: 100dvw;
  border-bottom: 1px solid black;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 400px) {
  .title {
    font-size: 4rem;
    font-family: 'Londrina Solid', sans-serif;
    font-weight: 900;
    margin: 0;
  }
}

@media (min-width: 1000px) {
  #home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .div-title {
    margin-left: 30% !important;
  }
}
